# Created by .ignore support plugin (hsz.mobi)
### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/CLionCode.dir/
cmake-build-debug/CMakeFiles/CMakeCXXCompilerId.dir/
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/Destructor.dir/CXX.includecache
cmake-build-debug/CMakeFiles/Destructor.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Destructor.dir/build.make
cmake-build-debug/CMakeFiles/Destructor.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Destructor.dir/depend.internal
cmake-build-debug/CMakeFiles/Destructor.dir/depend.make
cmake-build-debug/CMakeFiles/Destructor.dir/flags.make
cmake-build-debug/CMakeFiles/Destructor.dir/link.txt
cmake-build-debug/CMakeFiles/Destructor.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/Destructor.dir/objects1.rsp
cmake-build-debug/CMakeFiles/Destructor.dir/progress.make
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/CXX.includecache
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/build.make
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/depend.internal
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/depend.make
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/flags.make
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/link.txt
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/objects1.rsp
cmake-build-debug/CMakeFiles/InheritanceFuncCover.dir/progress.make
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/MultiInheritance.dir/CXX.includecache
cmake-build-debug/CMakeFiles/MultiInheritance.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/MultiInheritance.dir/build.make
cmake-build-debug/CMakeFiles/MultiInheritance.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/MultiInheritance.dir/depend.internal
cmake-build-debug/CMakeFiles/MultiInheritance.dir/depend.make
cmake-build-debug/CMakeFiles/MultiInheritance.dir/flags.make
cmake-build-debug/CMakeFiles/MultiInheritance.dir/link.txt
cmake-build-debug/CMakeFiles/MultiInheritance.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/MultiInheritance.dir/objects1.rsp
cmake-build-debug/CMakeFiles/MultiInheritance.dir/progress.make
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/CXX.includecache
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/build.make
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/depend.internal
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/depend.make
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/flags.make
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/link.txt
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/objects1.rsp
cmake-build-debug/CMakeFiles/MultiInheritance2.dir/progress.make
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/CXX.includecache
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/build.make
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/depend.internal
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/depend.make
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/flags.make
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/link.txt
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/objects1.rsp
cmake-build-debug/CMakeFiles/PrevilegePointer.dir/progress.make
cmake-build-debug/CMakeFiles/StarInheritance.dir/CXX.includecache
cmake-build-debug/CMakeFiles/StarInheritance.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/StarInheritance.dir/build.make
cmake-build-debug/CMakeFiles/StarInheritance.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/StarInheritance.dir/depend.internal
cmake-build-debug/CMakeFiles/StarInheritance.dir/depend.make
cmake-build-debug/CMakeFiles/StarInheritance.dir/flags.make
cmake-build-debug/CMakeFiles/StarInheritance.dir/link.txt
cmake-build-debug/CMakeFiles/StarInheritance.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/StarInheritance.dir/objects1.rsp
cmake-build-debug/CMakeFiles/StarInheritance.dir/progress.make
cmake-build-debug/CMakeFiles/Swap.dir/CXX.includecache
cmake-build-debug/CMakeFiles/Swap.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Swap.dir/build.make
cmake-build-debug/CMakeFiles/Swap.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Swap.dir/depend.internal
cmake-build-debug/CMakeFiles/Swap.dir/depend.make
cmake-build-debug/CMakeFiles/Swap.dir/flags.make
cmake-build-debug/CMakeFiles/Swap.dir/link.txt
cmake-build-debug/CMakeFiles/Swap.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/Swap.dir/objects1.rsp
cmake-build-debug/CMakeFiles/Swap.dir/progress.make
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/VirtualFunc.dir/CXX.includecache
cmake-build-debug/CMakeFiles/VirtualFunc.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/VirtualFunc.dir/build.make
cmake-build-debug/CMakeFiles/VirtualFunc.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/VirtualFunc.dir/depend.internal
cmake-build-debug/CMakeFiles/VirtualFunc.dir/depend.make
cmake-build-debug/CMakeFiles/VirtualFunc.dir/flags.make
cmake-build-debug/CMakeFiles/VirtualFunc.dir/link.txt
cmake-build-debug/CMakeFiles/VirtualFunc.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/VirtualFunc.dir/objects1.rsp
cmake-build-debug/CMakeFiles/
VirtualFunc.dir/progress.make
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/CXX.includecache
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/build.make
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/depend.internal
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/depend.make
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/flags.make
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/link.txt
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/objects1.rsp
cmake-build-debug/CMakeFiles/VirtualInheritance.dir/progress.make
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/CXX.includecache
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/build.make
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/depend.internal
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/depend.make
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/flags.make
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/link.txt
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/objects1.rsp
cmake-build-debug/CMakeFiles/VirtualInheritanceConstructor.dir/progress.make
cmake-build-debug/CMakeFiles/VituralFunc.dir/
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/main.dir/CXX.includecache
cmake-build-debug/CMakeFiles/main.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/main.dir/build.make
cmake-build-debug/CMakeFiles/main.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/main.dir/depend.internal
cmake-build-debug/CMakeFiles/main.dir/depend.make
cmake-build-debug/CMakeFiles/main.dir/flags.make
cmake-build-debug/CMakeFiles/main.dir/link.txt
cmake-build-debug/CMakeFiles/main.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/main.dir/objects1.rsp
cmake-build-debug/CMakeFiles/main.dir/progress.make
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/Makefile
cmake-build-debug/cmake_install.cmake
main.cpp
